<p>
  Now chose your weapon and play the computer!
</p>
<div>
  <a href=/random/rock>Rock</a>
</div>
<div>
  <a href=/random/paper>Paper</a>
</div>
<div>
  <a href=/random/scissors>Scissors</a>
</div>
