<h1><%= @game_result %></h1>

<p>
  Play again!? Chose your weapon!
</p>

<div class="container">
  <a class="div-link" href="/random/rock">
    <div class="div-button">
      Rock
    </div>
  </a>
  <a class="div-link" href="/random/paper">
    <div class="div-button">
      Paper
    </div>
  </a>
  <a class="div-link" href="/random/scissors">
    <div class="div-button">
      Scissors
    </div>
  </a>
</div>
