<h2>The result is:  <%= @game_result %></h2>

<!-- html comment -->

<p>
  Play again!? Chose your weapon and play the computer!
</p>

<div class="container">
  <div class="div-button">
    <a class="div-link" href=/random/rock>Rock</a>
  </div>
  <div class="div-button">
    <a class="div-link" href=/random/paper>Paper</a>
  </div>
  <div class="div-button">
    <a class="div-link" href=/random/scissors>Scissors</a>
  </div>
</div>
